.page-size {
  width: 100%;
  max-width: 1600px;
}

.navbar {
  height: 41px;
  max-width: 1487px;
}
.t-logo {
  width: 41px;
  height: 41px;
  background-color: #458ff6;
  border-radius: 50%;

  font-size: 26px;
  font-weight: 700;
  line-height: 32.63px;
  color: #ffffff;
}
.navbar-logo p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.12px;
  color: #233348;
}
.navbar-menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.59px;
  color: #7d7987;
}

.header-bg {
  background-repeat: no-repeat;
}
.header-1 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  max-width: 445px;
}
.header-1 p {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  color: #7d7987;
  max-width: 450px;
}
.consult-btn {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background-color: #458ff6;

  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
}
.header-2 img {
  width: 100%;
  height: 100%;
  max-width: 693px;
  max-height: 598px;
}

.service-bg-element {
  background-repeat: no-repeat;
}
.service-element {
  background-repeat: no-repeat;
  background-position: top 548px right 158.21px;
}
.our-service h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}
.our-service p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #7d7987;
}
.service-content {
  object-position: center;
}
.service-card {
  width: 350px;
  height: 354px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 54px 37px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  -webkit-box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  -moz-box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}
.service-card h4 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
}
.service-card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #7d7987;
}
.service-btn {
  width: 200px;
  height: 60px;
  border: 1.4px solid #458ff6;
  border-radius: 55px;
  background-color: #ffffff;
  color: #458ff6;

  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
}

.banner1-content-1 img {
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 477px;
}
.banner1-content-2 h3,
.banner2-content-1 h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}
.banner1-content-2 p,
.banner2-content-1 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #7d7987;
}
.banner2-bg {
  background-repeat: no-repeat;
  background-position: right top;
}
.banner2-content-2 img {
  width: 100%;
  height: 100%;
  max-width: 655px;
  max-height: 434px;
}

@media screen and (max-width: 1280px) {
  .header-1 {
    order: 2;
  }
  .banner1-content-2,
  .banner2-content-1 {
    padding-left: 42px;
    padding-right: 42px;
  }
  .banner1-content-2 p,
  .banner2-content-1 p {
    max-width: 586px;
  }
  .banner2-content-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    order: 2;
  }
}
